@import "../../styles/variables";

.root {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.label {
  font-size: var(--font-size-s);
  white-space: nowrap;
}

.input {
  // stylelint-disable-next-line property-disallowed-list
  font: inherit;
  background-color: var(--color-neutral-5);
  font-size: var(--font-size-m);
  height: 20px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}
