@import "./variables";

/* stylelint-disable selector-max-type */

html,
body,
#root {
  @media (width >= #{$bp}) {
    height: 100%;
  }
}

body {
  background-color: #f5f5f5;
  color: var(--color-neutral-2);
  font-family: Inter, serif;
}

#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: #{$bp + 210px};
  align-items: center;
  justify-content: center;
  padding: var(--spacing-s);
  margin: 0 auto;
  gap: var(--spacing-l);

  @media (width >= $bp) {
    padding: var(--spacing-l);
  }
}
